body {

  font-family: 'Roboto', sans-serif; 
}

.home-container {
  text-align: center;
  background-color: #75b29f;
  color: white;
  padding: 20px;
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header h1 {
  margin: 0.5em 0;
  font-size: 4em;
}

.home-header p {
  font-size: 1.5em;
}

.home-header button {
  padding: 10px 20px;
  font-size: 1em;
  color: #064C4C;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-header button:hover {
  background-color: #f3f3f3;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #75b29f;
  padding: 10px 20px;
  color: white;
}


.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 20px;
}


.navbar-links {
  display: flex;
}


.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.navbar-links {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
}


.nav-link:hover {
  font-weight: bold;
}



